<header class="header_">
    <div class="header_class">
        <div class="class_logo">
            <img src="/img/logo.jpg" alt="" class="logo">
            <h2>Enjoy<br> Your Pet</h2>
        </div>
        <nav class="nav_">
            <ul class="nav_ul">
                <li><a href="">Ingresar</a></li>
                <li><a href="">Registrarse</a></li>
            </ul>
            <ul class="nav_ul_center">
                <div class="search_bar">
                    <input class="input_" type="search" placeholder=" Buscar">
                    <div class="btn">
                        <i class="fas fa-search icon"></i>
                    </div>
                </div>
            </ul>
        </nav>
    </div> 
    <div class="header_b">
        <div class="heder_b_segundario">
            <div class="ico_u">
                <img class="iconos" src="/icos/global.png" alt=""> 
                <ul class="lugares">
                    <li>Localización</li>
                    <li>Petfriendly</li>
                </ul>
            </div>
                <div class="ico_d">
                    <img class="iconos" src="/icos/billetera.png" alt="">
                    <!--<p>Compras</p>-->
                </div>
                <div class="ico_t">
                    <img class="iconos" src="/icos/gatito.png" alt="">
                    <!--<p>Servicios</p>-->
                </div>
                <div class="ico_c">
                    <img class="iconos" src="/icos/compras.png" alt="">
                </div>
            </ul>
        </div>
    </div>
</header>