<header class="header_">
    <div class="header_class">
        <div class="class_logo">
            <img src="/img/logo.png" alt="" class="logo">
            <img src="/img/logo01.png" alt="" class="logo01">
            
        </div>
        <nav class="nav_">
            <ul class="nav_ul">
                <li><a class="ingresa" href="">Ingresar</a></li>
                <li><a class="register" href="" >Registrarse</a></li>
            </ul>
            <ul class="nav_ul_center">
                <div class="search_bar">
                    <input class="input_" type="search" placeholder=" Buscar">
                    <div class="btn">
                        <i class="fas fa-search icon"></i>
                    </div>
                </div>
            </ul>
        </nav>
    </div> 
    <div class="header_b">
        <div class="header_b_secundario">
            <div class="ico_u">
                <img class="iconos" src="/icos/global.png" alt=""> <h3 class="ico_text">Lugares</h3>
                <ul class="lugares">
                    <li><a href=""><i class="fa-solid fa-location-dot"></i>Localización</a></li>
                    <li><a href=""><i class="fa-solid fa-location-arrow"></i>Petfriendly</a></li>
                </ul>
            </div>
                <div class="ico_d">
                    <img class="iconos" src="/icos/billetera.png" alt=""> <h3 class="ico_text">Compras</h3>
                    <ul class="compras">
                        <li><a href=""><i class="fa-solid fa-bone"></i>Mis juguetes</a></li>
                        <li><a href=""><i class="fa-solid fa-cookie"></i>Tengo hambre</a></li>
                        <li><a href=""><i class="fa-solid fa-glasses"></i>Soy fashion</a></li>
                    </ul>
                </div>
                <div class="ico_t">
                    <img class="iconos" src="/icos/gatito.png" alt=""> <h3 class="ico_text">Servicios</h3>
                    <ul class="servicios">
                        <li><a href=""><i class="fa-solid fa-face-sad-tear"></i>Toy malito</a></li>
                        <li><a href=""><i class="fa-solid fa-graduation-cap"></i>Enseñame</a></li>
                    </ul>
                </div>
                <div class="ico_c">
                    <div class="ico_img">
                        <img class="iconos img-compras" src="/icos/compras.png" alt="">
                    </div>
                    <div class="number">
                        <p>0</p>
                    </div>
                </div>
            </ul>
        </div>
    </div>

    <%- include("./register.ejs") %>

    <script src="/js/register.js"></script>

    <%- include("./sesion.ejs") %>

    <script src="/js/sesion.js"></script>
</header>