<div class="menu_izquierdo">
    <ul class="izquierdo_one">
        <li><a href=""><i class="fa-brands fa-product-hunt"></i> Productos</a></li>
        <li><a href=""><i class="fa-solid fa-comment-dots"></i> Recomendaciones</a></li>
        <li><a href=""><i class="fa-solid fa-map-location"></i> Mapa</a></li>
        <li><a href=""><i class="fa-solid fa-location-dot"></i> Lugares</a></li>
        <li><a href=""><i class="fa-solid fa-boxes-stacked"></i> Peticiones</a></li>
        <li><a href=""><i class="fa-solid fa-shield-dog"></i> Veterinaria</a></li>
    </ul>
    <ul class="izquierdo_two">
    <div>
        <li><a href=""><i class="fa-solid fa-gear"></i>  Ajustes</a></li>
        <li><a href=""><i class="fa-solid fa-circle-info"></i> Informacion</a></li>
        <li><a href=""><i class="fa-solid fa-question"></i></i> Ayuda</a></li>
    </div>
    </ul>

</div>